@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#navbar {
  overflow: hidden;
  display: flex;
  padding: 0.5% 0% 0.5% 0%;
  background-color: rgb(255, 255, 255);
}

#logoContainer {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  padding: 0.8%;
}

#logo {
  display: flex;
  left: 15%;
  margin-top: -3%;
  margin-left: 0%;
  height: 13px;
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../extras/backgroundCarousel.png");
  height: 294.8px;
  width: 100%;
}

.carouselHere {
  color: #000;
  display: flex;
  height: 245.66px;
  width: 645.66px;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
}
SwiperSlide {
  display: flex;
  top: 30vh;
}

.popularComics {
  padding: 3% 3%;
}

.header {
  margin-bottom: 2%;
  color: #000;
}

#template {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10%;
  transition: all 0.5s ease;
  justify-content: center;
  margin-top: 5rem;
  height: 80vh;
}


.comic img {
  color: #000;
  background-color: #000000;
  box-sizing: border-box;
  padding: 2px;
  height: 160px;
  width: 113.25px;
}


.contents h3 {
  width: 113.25px;
  word-wrap: break-word;
  color: #000000;
}

.contents p {
  color: #000;
  align-items: center;
}





@media only screen and (max-width: 890px) {

  .navbar ul{
    display: flex;
    justify-content: space-evenly;
  }

  h1{
    font-size: 1.5rem;
    transition: all 0.5s ease;

  }


  #template {
    transition: all 0.5s ease;
    grid-template-columns: auto auto auto;
    column-gap: 15%; 
    justify-content: center;
  }

  #template h3{
    font-size: 1rem;
    transition: all 0.5s ease;

  }

}



/* @media (max-width:595px) {

} */